<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-go-coder" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GoCoder</name>
    <js-module name="GoCoder" src="www/GoCoder.js">
        <clobbers target="cordova.plugins.GoCoder" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GoCoder">
                <param name="android-package" value="gocoder.GoCoder" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/GoCoder.java" target-dir="src/cordova-plugin-go-coder/GoCoder" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GoCoder">
                <param name="ios-package" value="GoCoder" />
            </feature>
        </config-file>
        <source-file src="src/ios/GoCoder.m" />
    </platform>
</plugin>
